footer
    .row
        .col-md-12
            ul.social-links
                li
                    a(href='https://www.linkedin.com/in/dainemarshall-271618')
                        i.fa.fa-linkedin-square
                li
                    a(href='https://github.com/Daine-M27')
                        i.fa.fa-github-square
            ul.copyright
                li © Copyright 2017
                li
                    | Design by
                    a(href='http://www.dainemarshall.com/', title='Styleshout', target='_blank')  Daine Marshall