nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            #logo-hidden
                h1 Daine Marshall
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='#header') Home
                li
                    a(href='#aboutMe') About
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Works
                        b.caret
                    ul.dropdown-menu
                        li.dropdown-header Web Development
                        li
                            a(href='#megabatten') MEGABATTEN
                        li
                            a(href='#ledTester') LED Diagnostics
                        li
                            a(href='#calmStats') Calm Stats
                        li
                            a(href='#indigoPearl') The Indigo Pearl
                        li
                            a(href='#carolinaGymnastics') Carolina Gymnastics Centre
                        li.divider
                        li.dropdown-header Art and Photography Portfolios
                        li
                            a(href='#photo') Photography
                        li
                            a(href='#art') Digital Art
                li
                    a(href='/#contact') Contact


