extends layout

block content
    .container-fluid
        .full-screen#header
            .row.header-text.bbs
                h1.name I'm Daine Marshall
                p
                    | I'm a Charlotte, NC based full stack web developer, photographer and artist who loves bringing ideas to life and helping people utilize new technologies to meet todays digital challenges.
                br
                P Head on down to learn more
                    span
                        a(href='#aboutMe')  about me.

                ul.link-icons
                    li
                        a(href='https://www.linkedin.com/in/dainemarshall-271618')
                            i.fa.fa-linkedin-square
                    li
                        a(href='https://github.com/Daine-M27')
                            i.fa.fa-github-square

            a(href='#aboutMe')
                span


        div#aboutMe
            .row.row-main
                .col-md-2
                    .profile-pic
                        img(src='../images/profile-pic.jpg', alt='')
                .col-md-1
                .col-md-9
                    h2 About Me
                    p
                        | I'm a native Charlottean, Air Force Veteran, Father and Husband. I love watching my kids grow up and teaching them new things. I like to travel whenever I can and taking my family to new exciting places is always an adventure.
                        | Making digital art is something I have always enjoyed doing for fun and I'm really looking forward to using those skills to create awesome web experiences for years to come.
                    p My early years were spent in the Boy Scouts where I eventually became and Eagle Scout, from there I joined the Air Force and was able to serve my country as a Predator UAV Sensor Operator. After the Air Force I came home to start my family and began working on what has been a very rewarding IT career.
            .row
                .col-md-2
                .col-md-1
                .col-md-5.highlights
                    h2 Contact Details
                    p Daine Marshall
                    p 1807 Hoosac Drive
                    p Waxhaw, NC 28173
                    p 704.980.8427
                    p Email
                .col-md-4.button-container
                    a.button(href='../pdfs/DaineMarshall_Resume_WebDev.pdf')
                        i.fa.fa-download
                        |  Download Resume

        div#education
            .row.row-main
                .col-md-2
                    h2
                        span Education
                .col-md-1
                .col-md-9
                    h3 Thinkful
                    p.highlights
                        | Full Stack Web Development
                        span  •
                        em  March 2017 - September 2017
                    p
                        | Thinkfuls full stack web development program was a great way to learn about both server side and client side technologies.
                        | I learned how to build web server applicatoins with NodeJS and single-page web apps with React, while always focusing on
                        | responsive mobile-friendly designs that are software tested and secured with user authentication.  Each project was tailored around
                        | industry best practices and standard development tools like git version control and GitHub with integrated testing and
                        | deployment.
            .row.bbs
                .col-md-2
                .col-md-1
                .col-md-9
                    h3 Central Piedmont Community College
                    p.highlights
                        | Network Administration
                        span  •
                        em  August 2003 - June 2006
                    p
                        | Central Piedmonts Network Administration program focused on network technologies like Cisco routers and switches,
                        | Windows Server OS and Active Directory Services.  Attending classes was a great way to get hands on experience with router and
                        | firewall configuration, server building and repair plus server batch scripting and wifi configuration and security.



        .row.row-main#work
            .col-md-2
                h2
                    span Work
            .col-md-1
            .col-md-9
                h3 TekUAV
                p.highlights
                    | Business Owner
                    span  •
                    em  June 2015 - December 2016
                p
                    | I created TekUAV to provide aerial services utilizing drone technology for industries like real estate marketing,
                    | surveying, mapping and construction monitoring.  While at TekUAV I learned about web development and created the
                    | company web site using WordPress.
                P I also carefully crafted all of the promotional material and designed logos and
                    |  graphics to establish an identity for the company.  This is where I found my real passion for designing websites, by
                    | creating media for both TekUAV and its customers.
        .row.pbl
            .col-md-2
            .col-md-1
            .col-md-9
                h3 Event Capture Systems
                p.highlights
                    | Product/Service Manager
                    span  •
                    em  April 2006 - July 2015
                p
                    | At Event Capture Systems I was responsible for thousands of remote servers inside our high speed camera systems all over
                    | the world and provided support for our custom solutions.  As the Product Manager I was responsible for introducing
                    | Agile development to our team and standardizing our development processes.  Planning new features and bug fix priorities
                    | while where accomplished with SCRUM practices in daily stand ups.  I was also an integral part in evaluating new technologies
                    | and hardware specifications to ensure they met our performance requirements.
                br
                p When I wasn't doing all that stuff, I built and maintained all of the internal systems for our business which included an
                    |  Asterisk PBX phone system, FreeNAS file server with Egnyte cloud backups, email server,  ClearOS firewall, CiscoVPN, wifi and I even
                    | installed and terminated every foot of Cat-5e in the building.

        div.bg-light-gray
            .row.row-main.bbs#calmStats
                .col-md-2
                    h2
                        span Portfolio
                .col-md-1
                .col-md-9
                    h3 Calm Stats
                    p.highlights
                        em  September 2017 - October 2017
                    p
                        | CalmStats is a responsive full-stack web app that allows users to chart the amount of time they spend in meditation each day.
                        | It consists of a React front end, a NodeJS and Express back end and a MongoDB server.  All three hosted on separate servers.
                        br
                    p
                        | For Authentication I chose Auth0 to provide multiple login methods for users.  A user dashboard allows users to search for YouTube content,
                        | and meditation session times are shown with ChartJS.
                    .col-md-12
                        .col-md-4
                            h4 Highlights
                            ul.highlights
                                li MongoDB, Node, Express, React and ChartJS
                                li YouTube API Integration
                                li Auth0 Authentication
                                li Separately Hosted at Netlify, Heroku, Mlab
                                li Bootstrap, FlatUI, FontAwesome and GoogleFonts
                                li Fully Responsive
                            h4 Live Site
                            ul.highlights
                                li
                                    a(href="https://calmstats.com") www.CalmStats.com
                            h4 Resources
                            ul.highlights
                                li
                                    a(href="#") GitHub Front End,
                                li
                                    a(href="#") GitHub Back End
                        .col-md-8
                            img.work-views(src='../images/calmstatsMockUp.png', alt='computer tablet and phone views of application')



            .row.bbs.row-main#indigoPearl
                .col-md-2
                    h2
                .col-md-1
                .col-md-9
                    h3 Indigo Pearl
                    p.highlights
                        em  July 2017
                    p
                        | The Indigo Pearl was a web site built as my back end project while at Thinkful.  It is also a live customer site developed for a local business.
                        | It was built with NodeJS, Express and MongoDB.  A custom gallery API was developed to allow the customer to upload photos with titles and captions.
                        | The database contains user profile information and authentication is required to access the gallery dashboard to upload and edit posts.
                        br
                    p
                        | The site includes a stylized google map to match the site color scheme and working contact form.  I also created the custom home page graphic and photographed the store for the initial gallery.
                        | All done at not charge to the customer.
                    .col-md-12
                        .col-md-4
                            h4 Highlights
                            ul.highlights
                                li MongoDB, NodeJS and Express
                                li Custom Gallery API and Dashboard
                                li Passport User Authentication
                                li Hosted on DigitalOcean via Dokku
                                li Bootstrap, FontAwesome and GoogleFonts
                                li Fully Responsive
                                li Custom Photography and Artwork

                            h4 Live Site
                            ul.highlights
                                li
                                    a(href="https://test-indigo.dainebramage.com") www.TheIndigoPearl.com
                            h4 Resources
                            ul.highlights
                                li
                                    a(href="#") GitHub
                        .col-md-8
                            img.work-views(src='../images/indigoPearlMockUp.png', alt='computer tablet and phone views of application')



            .row.row-main.pbl#carolinaGymnastics
                .col-md-2
                    h2
                .col-md-1
                .col-md-9
                    h3 Carolina Gymnastics
                    p.highlights
                        em  August 2017
                    p
                        |  Carolina Gymnastics and Cheer was developed for a client who owns a gymnastics training center in Stallings, NC.  We worked together to choose design aspects that where clean in appearance.
                        |   A simple layout was selected to maximize the useful information for the clients busy customers who are interested in joining the gym.
                        |   Future functionality to include payment portal, email campaign API integration and image gallery.
                        br
                    p
                        |   This site was built with NodeJS Express and MongoDB.   Directed custom photography sessions on-site and produced final images.
                    .col-md-12
                        .col-md-4
                            h4 Highlights
                            ul.highlights
                                li Mongo, NodeJS and Express
                                li Responsive Table
                                li PassportJS User Authentication
                                li Hosted on DigitalOcean via Dokku
                                li Bootstrap, FontAwesome and GoogleFonts
                                li Fully Responsive
                                li Custom Photography and Design

                            h4 Live Site
                            ul.highlights
                                li
                                    a(href="https://carolinagymnasticsandcheer.com") www.CarolinaGymnasticsAndCheer.com
                        .col-md-8
                            img.work-views(src='../images/carolinaGymnasticsMockUp.png', alt='computer tablet and phone views of application')



        .row.row-main.pbl.bbs
            .col-md-2
                h2
                    span Skills
            .col-md-1
            .col-md-9
                .col-sm-12.col-md-6.bars
                    ul.skills
                        li
                            em HTML 5
                            span.bar-expand.html5
                        li
                            em CSS 3
                            span.bar-expand.css3
                        li
                            em JavaScript
                            span.bar-expand.javascript
                        li
                            em JQuery
                            span.bar-expand.jquery
                        li
                            em NodeJS
                            span.bar-expand.nodejs
                        li
                            em ExpressJS
                            span.bar-expand.expressjs
                        li
                            em MongoDB
                            span.bar-expand.mongodb

                .col-sm-12.col-md-6.bars
                    ul.skills
                        li
                            em React
                            span.bar-expand.react
                        li
                            em Docker
                            span.bar-expand.docker
                        li
                            em Jade/Pug
                            span.bar-expand.jade-pug
                        li
                            em Git
                            span.bar-expand.git
                        li
                            em Mocha/Chai
                            span.bar-expand.mocha-chai
                        li
                            em Photoshop
                            span.bar-expand.photoshop
                        li
                            em AfterEffects
                            span.bar-expand.aftereffects




        .row.row-main.bbs#photo
            .col-md-2.text-center
                h2
                    span Photography
            .col-md-10
            .row.pbl
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/photography-1.jpg')
                        img(src='../images/thumbnails/photo-thumb-1.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-2.jpg')
                        img(src='../images/thumbnails/photo-thumb-2.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-3.jpg')
                        img(src='../images/thumbnails/photo-thumb-3.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-4.jpg')
                        img(src='../images/thumbnails/photo-thumb-4.jpg')
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/photography-5.jpg')
                        img(src='../images/thumbnails/photo-thumb-5.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-6.jpg')
                        img(src='../images/thumbnails/photo-thumb-6.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-7.jpg')
                        img(src='../images/thumbnails/photo-thumb-7.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-8.jpg')
                        img(src='../images/thumbnails/photo-thumb-8.jpg')

        .row.row-main.pbl#art
            .col-md-2.text-center
                h2
                    span Artwork
            .col-md-10
            .row.pbl
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/art-1.jpg')
                        img(src='../images/thumbnails/art-thumb-1.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-2.jpg')
                        img(src='../images/thumbnails/art-thumb-2.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-3.jpg')
                        img(src='../images/thumbnails/art-thumb-3.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-4.jpg')
                        img(src='../images/thumbnails/art-thumb-4.jpg')
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/art-5.jpg')
                        img(src='../images/thumbnails/art-thumb-5.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-9.jpg')
                        img(src='../images/thumbnails/art-thumb-9.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-7.jpg')
                        img(src='../images/thumbnails/art-thumb-7.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-8.jpg')
                        img(src='../images/thumbnails/art-thumb-8.jpg')

        div#contact
            .row.section-head
                .col-md-2.header-col
                    h2
                        p Get In Touch.
                .col-md-10
                    p.lead
                        | Send me a message, I would love the chance to speak with you in person.
            .row#form-row
                .col-md-8
                    // form
                    form#contactForm(action='sendMail', method='post', name='contactForm')
                        fieldset
                            div
                                label(for='contactName')
                                    | Name
                                    span.required *
                                input#contactName(type='text', value='', size='35', name='contactName')
                            div
                                label(for='contactEmail')
                                    | Email
                                    span.required *
                                input#contactEmail(type='text', value='', size='35', name='contactEmail')
                            div
                                label(for='contactSubject') Subject
                                input#contactSubject(type='text', value='', size='35', name='contactSubject')
                            div
                                label(for='contactMessage')
                                    | Message
                                    span.required *
                                textarea#contactMessage(cols='50', rows='15', name='contactMessage')
                            div
                                button.submit Submit
                                //span#image-loader
                                //    img(alt='', src='images/loader.gif')
                    // Form End
                    // contact-warning
                    //#message-warning  Error boy
                    //// contact-success
                    //#message-success
                    //    i.fa.fa-check
                    //    | Your message was sent, thank you!
                    //    br
                aside.col-md-4.footer-widgets
                    div
                        h4 Address and Phone
                        p.address
                            | Daine Marshall
                            br
                            | 1807 Hoosac Drive
                            br
                            | Waxhaw, NC 28173 US
                            br
                            span (704) 980-8427
                    div
                        h4 Places to find me
                        p
                            a(href='https://www.renderosity.com/mod/gallery/artist/Red27') Renderosity.com
                            |  as Red27
                        p
                            a(href='https://github.com/Daine-M27') GitHub.com
                            |  as Daine-M27





