extends layout

block content
    .container-fluid
        .full-screen#header
            .row.header-text.bbs
                h1.name I'm Daine Marshall
                p
                    | A Charlotte, NC based full stack web developer and artist who loves bringing ideas to life and helping people utilize new technologies to meet today's digital challenges.
                br
                P Head on down to learn more
                    span
                        a(href='#aboutMe')  about me.

                ul.link-icons
                    li
                        a(href='https://www.linkedin.com/in/dainemarshall-271618')
                            i.fa.fa-linkedin-square
                    li
                        a(href='https://github.com/Daine-M27')
                            i.fa.fa-github-square

            a(href='#aboutMe')
                span


        div#aboutMe
            .row.row-main
                .col-md-2
                    .profile-pic
                        img(src='../images/profile-pic.jpg', alt='')
                .col-md-1
                .col-md-9
                    h2 About Me
                    p
                        | I'm a native Charlottean, Air Force Veteran, Father, and Husband. I love watching my kids grow up and teaching them new things. I like to travel whenever I can, and taking my family to new exciting places is always an adventure.
                        | Making digital art is something I have always enjoyed doing for fun, and I'm really looking forward to using those skills to create awesome web experiences for years to come.
                    p My early years were spent in the Boy Scouts, where I eventually became an Eagle Scout. From there I joined the Air Force, and was able to serve my country as an Imagery Analyst and Predator UAV aircrew member. After the Air Force, I came home to start my family and began working on what has become a very rewarding IT career.
            .row
                .col-md-2
                .col-md-1
                .col-md-5.highlights
                    h2 Contact Details
                    p Daine Marshall
                    p 1807 Hoosac Drive
                    p Waxhaw, NC 28173
                    p 704.980.8427
                .col-md-4.button-container
                    a.button(href='../pdfs/Daine_Marshall_Resume_WebDev.pdf')
                        i.fa.fa-download
                        |  Download Resume

        div#work
            .row.row-main
                .col-md-3
                    h2
                        span Work                
                //----------------------------------------------------- The Light Source ----------------------------------------------------- //
                .col-md-9.borderBottom                   
                    h3 The Light Source
                    p.highlights
                        | Software Developer / IT Support
                        span  •
                        em  Aug 2018 - Current
                        
                    //- .expand
                    //-     p.arrow(data-toggle='collapse' data-target="#tekuavText" onclick="toggleUpDown()")
                    #tlsText.collapse.in
                        p
                            | At The Light Source, I am responsible for developing internal and external tools that help the business better accomplish its goals.  I also maintain the company website by adding and modifying content and addressing issues when they arise.  A wide variety of technologies are required to make all of this happen and I develop and contribute to applications written in multiple languages including C#, Python, and JavaScript.

                        p 
                            | My projects include developing a way to automate mechanical drawings by using SVG data to create each drawing based on a users selected inputs.  A drawing that once took days or weeks is now produced  immediately.  I have also created a hardware / software solution to test circuit boards that are produced on the Light Sources pick and place machine.    
                        
                        P 
                            | My secondary duty is to provide technical support to employees and maintain the buildings IT infrastructure.  Automated manufacturing machinery is integrated into the company network which allows engineers instant access to machine programming.  
            .row
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow.up(data-toggle='collapse' data-target="#tlsText" onclick="toggleUpDown()")

            
            .row
                .col-md-3                
                //----------------------------------------------------- Red Ventures ----------------------------------------------------- //
                .col-md-9.borderBottom                   
                    h3 Red Ventures
                    p.highlights
                        | QA Engineer
                        span  •
                        em  January 2018 - August 2018
                        
                    //- .expand
                    //-     p.arrow(data-toggle='collapse' data-target="#tekuavText" onclick="toggleUpDown()")
                    #rvText.collapse
                        p
                            | While working for Red Ventures, I integrated myself within internal business units to develop testing strategies for their unique products and requirements.  Once the goals for testing were documented, I wrote software testing libraries that verified web content, user interactions, and style guidelines.    
                        P 
                            | The QA team members where assigned JIRA tasks and worked in sprints with weekly stand-ups.  Each project was controlled through continuous integration and tests were run daily with results being delivered to business leaders and engineers. 
            .row
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#rvText" onclick="toggleUpDown()")

            
            .row
                .col-md-3                
                //----------------------------------------------------- TekUAV ----------------------------------------------------- //
                .col-md-9.borderBottom                   
                    h3 TekUAV
                    p.highlights
                        | Business Owner
                        span  •
                        em  June 2015 - December 2017
                        
                    //- .expand
                    //-     p.arrow(data-toggle='collapse' data-target="#tekuavText" onclick="toggleUpDown()")
                    #tekuavText.collapse
                        p
                            | I created TekUAV to provide aerial services utilizing drone technology for industries like real estate marketing,
                            | surveying, mapping, and construction monitoring.  While at TekUAV I learned about web development and created the
                            | company web site using WordPress.
                        P I also carefully crafted all of the promotional material and designed logos and
                            |  graphics to establish an identity for the company.  This is where I found my real passion for designing websites, by
                            | creating media for both TekUAV and its customers.
            .row
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#tekuavText" onclick="toggleUpDown()")
            
            .row
                .col-md-3
                //----------------------------------------------------- Event Capture Systems ----------------------------------------------------- //
                .col-md-9.borderBottom
                    h3 Event Capture Systems
                    p.highlights
                        | Product / Service Manager
                        span  •
                        em  April 2006 - July 2015
                    #ecsText.collapse
                        p
                            | At Event Capture Systems I was responsible for thousands of remote servers inside our high speed camera systems all over
                            | the world. As the Product Manager I introduced
                            | Agile development ideas to our team and helped standardize our development processes.  Planning new features and bug fix priorities
                            | were accomplished with SCRUM practices like daily stand ups.  I also played an integral part in evaluating new technologies
                            | and hardware specifications to ensure they met our performance requirements.
                        p When I wasn't doing all that stuff, I built and maintained all of the internal systems for our business which included an
                            |  Asterisk PBX phone system, FreeNAS file server with Egnyte cloud backups, email server,  ClearOS firewall, CiscoVPN, Ubiquiti WiFi, and I even
                            | installed and terminated every foot of Cat-5e in the building.
            .row
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#ecsText" onclick="toggleUpDown()")
            .row.pbl.bbs
                .col-md-3
                .col-md-9

        div#education
            .row.row-main
                .col-md-2
                    h2
                        span Education
                .col-md-1
                .col-md-9
                    h3 Thinkful
                    p.highlights
                        | Full Stack Web Development
                        span  •
                        em  March 2017 - September 2017
                    p
                        | Thinkful's full stack web development program was a great way to learn about both server side and client side technologies.
                        | I learned how to build web server applications with NodeJS and single-page web apps with React, while always focusing on
                        | responsive mobile-friendly designs that are software tested and secured with user authentication.  Each project was tailored around
                        | industry best practices and standard development tools like git version control and GitHub with integrated testing and
                        | deployment.
            .row.pbl 
                .col-md-2
                .col-md-1
                .col-md-9
                    h3 Central Piedmont Community College
                    p.highlights
                        | Network Administration
                        span  •
                        em  August 2003 - June 2006
                    p
                        | Central Piedmont's Network Administration program focused on network technologies like Cisco routers and switches,
                        | Windows Server OS and Active Directory Services.  Attending classes was a great way to get hands on experience with router and
                        | firewall configuration, server building and repair, batch scripting, and wifi configuration and security.
        
        
        div.bg-light-gray
            //----------------------------------------- Light Source MegaBatten -------------------------------//
            .row.row-main#megabatten
                .col-md-3
                    h2
                        span Portfolio                
                .col-md-9.borderBottomDark
                    h3 The Light Source - Drawing Configurator
                    p.highlights
                        em  
                    #tlsMBText.collapse.in
                        p
                            | The MEGABATTEN configurator allows a customer to select their desired options, and produce a mechanical drawing instantly.  Each choice eliminates the following choices and options to ensure only valid configurations based on business rules.  
                            
                        p
                            | A drawing is composed of reusable SVG components arranged into PUG mixins.  These components are modified and assembled as needed. Each dimension line is drawn in real-time as the drawing is being assembled. A custom bill of materials is generated, and customer selected options are marked on the drawing.  This process takes up to two weeks if done by hand.  

                        p   
                            | The project also includes a quote request form.  Once a customer has a submittal drawing in hand they can use the part number to request a quote directly on the website.  All information is emailed to the sales department to streamline the process. 
                            
                        p
                            | Each MEGABATTEN has the option for custom labels.  This part of the product historically held up production until a customer could provide the necessary information.  Now a custom label sheet can be generated and filled out by the customer on the site.  The possible label options are limited to only those available for the specific part number.
                        
                        p   
                            | A separate application was developed to update the options on the website from data that exists on the company MRP software.  This is hosted inside the company firewall and run done daily. It is used to set all available choices and options from a single internal data source.

                        p 
                            | The styling is intended to match the existing website and provide a similar user experience at the request of the owners.  
                        .col-md-12
                            .col-md-4
                                h4 Highlights
                                ul.highlights
                                    li MongoDB, Node, Express, PUG
                                    li Cache-PUG-Templates
                                    li Nodemailer
                                    li HTML2PDF
                                    li Heroku 
                                    li Github repository deployment
                            .col-md-4
                                h4 Repositories
                                ul.highlights   
                                    li 
                                        a(href="https://github.com/Daine-M27/PDP_Website") MEGABATTEN Configurator 
                                    li 
                                        a(href="https://github.com/Daine-M27/PDP_Database_Update") Database Update Utility
                            .col-md-4 
                                h4 Live Demo 
                                ul.highlights 
                                    li 
                                        a(href="https://pdp-configurator.herokuapp.com/configurator") Configurator 
                                    li 
                                        a(href="https://pdp-configurator.herokuapp.com/quote") Quote 
                                    li 
                                        a(href="https://pdp-configurator.herokuapp.com/label") Custom Label 
                                    li
                                        a(href="https://pdp-configurator.herokuapp.com/drawing/6252fa3748a31ec648a057be") Drawing Example

                            
            .row#ledTester
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow.up(data-toggle='collapse' data-target="#tlsMBText" onclick="toggleUpDown()")


            //----------------------------------------- Light Source LED Tester -------------------------------//
            .row
                .col-md-3
                                    
                .col-md-9.borderBottomDark
                    h3 The Light Source - Led Board Tester
                    p.highlights
                        em  
                    #tlsLEDText.collapse
                        p
                            | This software project allows a technician at The Light Source create, edit, and delete test routines for LED circuit boards.  Each set of test parameters is saved to a SQL database and retrieved when a test is to be run.  The software controls a laboratory power supply, four laboratory electrical meters, DMX/RDM protocol transmitter, and a Zebra label printer. A secondary application written in C# .Net allows the Node Application to interface with the power supply and electrical meters.

                        p 
                            | When a test is to be conducted the technician connects a board to the test unit and initiates a test from the software.  The test to be run determines what power level the power supply will provide, turns on the board and then checks the board firmware to confirm the proper type of board is connected.  Once the initial verification is completed the test parameters are requested from the SQL database and run one at a time.  As each set of parameters are run the software collects temperatures and current readings from the board and records the result in the database.
                        
                        p 
                            | As each test runs a pass or fail criteria is checked against the readings before running the next test.  Once all tests have run the technician is presented with the results and a label is printed for the board.  An administration panel allows users to examine past results based on board ID, firmware version, board wattage, and date.  These results written to an excel file and downloaded to the PC.

                        p   
                            | A manual test page allows the technician to enter a single set of paramaters and run a simple test.  This also allows for the printing of labels without running a full series of tests.  
                            
                         
                        .col-md-12
                            .col-md-6
                                h4 Highlights
                                ul.highlights
                                    li SQL, Node, Express, PUG
                                    li C# .Net
                                    li SCPI laboratory instruments communication
                                    li SQL Stored procedures
                                    li EZPL printer language
                                    li Excel creation
                                    li Com Port / Ethernet / USB
                                   
                            .col-md-6
                                h4 Repositories
                                ul.highlights   
                                    li 
                                        a(href="https://github.com/Daine-M27/testBedDashboard") LED Tester
                                    li 
                                        a(href="") Instrument Communication
                            

                            
            .row#calmStats
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#tlsLEDText" onclick="toggleUpDown()")

            //--------------------------------------------------Calm Stats---------------------------------------------------//

            .row
                .col-md-3               
                .col-md-9.borderBottomDark
                    h3 Calm Stats
                    p.highlights
                        em  
                    #calmText.collapse
                        p
                            | CalmStats is a responsive full-stack web app that allows users to chart the amount of time they spend in meditation each day.
                            | It consists of a React frontend, a NodeJS and Express backend and a MongoDB server.  All three hosted on separate servers.
                            br
                        p
                            | For Authentication I chose Auth0 to provide multiple login methods for users.  A user dashboard allows users to search for YouTube content,
                            | and meditation session times are shown with ChartJS.
                        .col-md-12
                            .col-md-4
                                h4 Highlights
                                ul.highlights
                                    li MongoDB, Node, Express, React, and ChartJS
                                    li YouTube API Integration
                                    li Auth0 Authentication
                                    li Separately Hosted at Netlify, Heroku, and Mlab
                                    li Bootstrap, FlatUI, FontAwesome, and GoogleFonts
                                    li Fully Responsive

                            .col-md-8
                                img.work-views(src='../images/calmstatsMockUp.png', alt='computer tablet and phone views of application')
                            .col-md-12
                                h4 Repositories 
                                ul.highlights 
                                    li 
                                        a(href="https://github.com/Daine-M27/calm-stats-client") Calm Stats Client
                                    li
                                        a(href="https://github.com/Daine-M27/express-server") Calm Stats Server
            .row#indigoPearl
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#calmText" onclick="toggleUpDown()")


            //----------------------------------------- Indigo Pearl -------------------------------//
            .row
                .col-md-3
                    h2
                
                .col-md-9.borderBottomDark
                    h3 Indigo Pearl
                    p.highlights
                        em  
                    #ipText.collapse
                        p
                            | The Indigo Pearl was a web site built as my backend project while at Thinkful.  It is also a live client site developed for a local business.
                            | It was built with NodeJS, Express, and MongoDB.  A custom gallery API was developed to allow the client to upload photos with titles and captions.
                            | The database contains user profile information and authentication is required to access the gallery dashboard to upload and edit posts.
                            br
                        p
                            | The site includes a stylized google map to match the site color scheme and working contact form.  I also created the custom home page graphic and photographed the store for the initial gallery.
                        .col-md-12
                            .col-md-4
                                h4 Highlights
                                ul.highlights
                                    li MongoDB, NodeJS, and Express
                                    li Custom Gallery API and Dashboard
                                    li Passport User Authentication
                                    li Hosted on DigitalOcean via Dokku
                                    li Bootstrap, FontAwesome, and GoogleFonts
                                    li Fully Responsive
                                    li Custom Photography and Artwork

                            .col-md-8
                                img.work-views(src='../images/indigoPearlMockUp.png', alt='computer tablet and phone views of application')
                            .col-md-12
                                h4 Repository 
                                ul.highlights 
                                    li 
                                        a(href="https://github.com/Daine-M27/capstone2") The Indigo Pearl
            .row#carolinaGymnastics
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#ipText" onclick="toggleUpDown()")


            .row
                .col-md-3
                .col-md-9.borderBottomDark
                    h3 Carolina Gymnastics
                    p.highlights
                        em  
                    #carGymText.collapse
                        p
                            |  Carolina Gymnastics and Cheer was developed for a client who owns a gymnastics training center in Stallings, NC.  We worked together to choose design aspects that were clean in appearance.
                            |   A simple layout was selected to maximize the useful information for the clients busy customers who are interested in joining the gym.
                            |   Future functionality to include payment portal, email campaign API integration and image gallery.
                            br
                        p
                            |   This site was built with NodeJS, Express, and MongoDB.   Directed custom photography sessions on-site and produced final images.
                        .col-md-12
                            .col-md-4
                                h4 Highlights
                                ul.highlights
                                    li MongoDB, NodeJS, and Express
                                    li Responsive Table
                                    li PassportJS User Authentication
                                    li Hosted on DigitalOcean via Dokku
                                    li Bootstrap, FontAwesome, and GoogleFonts
                                    li Mobile Friendly
                                    li Custom Photography and Design

                            .col-md-8
                                img.work-views(src='../images/carolinaGymnasticsMockUp.png', alt='computer tablet and phone views of application')
            .row.pbl
                .col-md-3
                .col-md-9 
                    .center
                        p.arrow(data-toggle='collapse' data-target="#carGymText" onclick="toggleUpDown()")


        .row.row-main.pbl.bbs
            .col-md-3
                h2
                    span Skills
            
            .col-md-9
                .col-sm-12.col-md-6.bars
                    ul.skills
                        li
                            em HTML
                            span.bar-expand.html5
                        li
                            em CSS
                            span.bar-expand.css3
                        li
                            em JavaScript
                            span.bar-expand.javascript
                        li
                            em JQuery
                            span.bar-expand.jquery
                        li
                            em NodeJS
                            span.bar-expand.nodejs
                        li
                            em ExpressJS
                            span.bar-expand.expressjs
                        li
                            em MongoDB
                            span.bar-expand.mongodb

                .col-sm-12.col-md-6.bars
                    ul.skills
                        li
                            em React
                            span.bar-expand.react
                        li
                            em NextJS
                            span.bar-expand.nextjs
                        li
                            em Jade/Pug
                            span.bar-expand.jade-pug
                        li
                            em Git
                            span.bar-expand.git
                        li
                            em SQL
                            span.bar-expand.sql
                        li
                            em C#
                            span.bar-expand.cSharp
                        li
                            em .Net
                            span.bar-expand.net




        .row.row-main.bbs#photo
            .col-md-2
                h2
                    span Photography
            .col-md-10
            .row.pbl
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/photography-1.jpg')
                        img(src='../images/thumbnails/photo-thumb-1.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-2.jpg')
                        img(src='../images/thumbnails/photo-thumb-2.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-3.jpg')
                        img(src='../images/thumbnails/photo-thumb-3.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-4.jpg')
                        img(src='../images/thumbnails/photo-thumb-4.jpg')
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/photography-5.jpg')
                        img(src='../images/thumbnails/photo-thumb-5.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-6.jpg')
                        img(src='../images/thumbnails/photo-thumb-6.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-7.jpg')
                        img(src='../images/thumbnails/photo-thumb-7.jpg')
                .col-md-3.thumbnail
                    a(href='../images/photography-8.jpg')
                        img(src='../images/thumbnails/photo-thumb-8.jpg')

        .row.row-main.pbl#art
            .col-md-2
                h2
                    span Artwork
            .col-md-10
            .row.pbl
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/art-1.jpg')
                        img(src='../images/thumbnails/art-thumb-1.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-2.jpg')
                        img(src='../images/thumbnails/art-thumb-2.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-3.jpg')
                        img(src='../images/thumbnails/art-thumb-3.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-4.jpg')
                        img(src='../images/thumbnails/art-thumb-4.jpg')
            .col-md-12.text-center
                .col-md-3.thumbnail
                    a(href='../images/art-5.jpg')
                        img(src='../images/thumbnails/art-thumb-5.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-9.jpg')
                        img(src='../images/thumbnails/art-thumb-9.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-7.jpg')
                        img(src='../images/thumbnails/art-thumb-7.jpg')
                .col-md-3.thumbnail
                    a(href='../images/art-8.jpg')
                        img(src='../images/thumbnails/art-thumb-8.jpg')

        div#contact
            .row.section-head
                .col-md-2.header-col
                    h2
                        p Get In Touch.
                .col-md-10
                    p.lead
                        | Send me a message, I would love the chance to speak with you in person.
                    if emailStatus 
                        script. 
                            window.location.href = '#contact'
                    if emailStatus === true 
                        p.messageBox.success=emailMessage
                    if emailStatus === false 
                        p.messageBox.error=emailMessage
            .row#form-row
                .col-md-8
                    // form
                    form#contactForm(action='sendMail', method='post', name='contactForm')
                        fieldset
                            div
                                label(for='contactName')
                                    | Name
                                    span.required *
                                input#contactName(type='text', value='', size='35', name='contactName')
                            div
                                label(for='contactEmail')
                                    | Email
                                    span.required *
                                input#contactEmail(type='text', value='', size='35', name='contactEmail')
                            div
                                label(for='contactSubject') Subject
                                input#contactSubject(type='text', value='', size='35', name='contactSubject')
                            div
                                label(for='contactMessage')
                                    | Message
                                    span.required *
                                textarea#contactMessage(cols='50', rows='15', name='contactMessage')
                            div
                                button.submit Submit
                                //span#image-loader
                                //    img(alt='', src='images/loader.gif')
                    // Form End
                    // contact-warning
                    //#message-warning  Error boy
                    //// contact-success
                    //#message-success
                    //    i.fa.fa-check
                    //    | Your message was sent, thank you!
                    //    br
                aside.col-md-4.footer-widgets
                    div
                        h4 Address and Phone
                        p.address
                            | Daine Marshall
                            br
                            | 1807 Hoosac Drive
                            br
                            | Waxhaw, NC 28173 US
                            br
                            span (704) 980-8427
                    div
                        h4 Places to find me
                        p
                            a(href='https://www.renderosity.com/mod/gallery/artist/Red27') Renderosity.com
                            |  as Red27
                        p
                            a(href='https://github.com/Daine-M27') GitHub.com
                            |  as Daine-M27
                        p
                            a(href='https://www.linkedin.com/in/dainemarshall-271618') LinkedIn.com
                            |  as Daine Marshall

    if anchor 
        script. 
            window.onload=window.location.hash = anchor
            console.log(anchor)



