doctype html
head
  meta(charset='UTF-8')
  title Daine Marshall - Web Developer
  meta(name='description', content='Daine Marshall - Web Developer')
  meta(name='author', content='Daine Marshall')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109500485-1')
  script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-109500485-1');
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel='stylesheet/css', type='text/css', href='../stylesheets/normalize.css')
  link(rel='stylesheet/less', type='text/css', href='../stylesheets/style.less')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville', rel='stylesheet')





  link(rel='shortcut icon', href='favicon.png')
  body
    include partials/nav

    block content

    include partials/footer

    //if lt IE 9
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='../javascripts/main.js')
