mixin captchaSVG(option)
    svg(width='100%' version='1.1' viewBox='0 0 33.602 10.319' xmlns='http://www.w3.org/2000/svg')
        g(stroke-width='.26459' aria-label='2 plus 2 equals' stroke='white' fill='white')
            path(d='m7.9542 9.0868h-5.2091v-1.0801q0.54261-0.4651 1.0852-0.93019 0.54778-0.4651 1.018-0.92502 0.9922-0.9612 1.3591-1.5245 0.36691-0.56845 0.36691-1.2248 0-0.59946-0.39791-0.93536-0.39275-0.34107-1.1007-0.34107-0.47026 0-1.018 0.16537-0.54778 0.16537-1.0697 0.50644h-0.051677v-1.0852q0.36691-0.18087 0.9767-0.33073 0.61496-0.14986 1.1886-0.14986 1.1834 0 1.8552 0.57362 0.6718 0.56845 0.6718 1.5451 0 0.43926-0.11369 0.82167-0.10852 0.37724-0.32557 0.71831-0.20154 0.3204-0.47543 0.63046-0.26872 0.31006-0.6563 0.68731-0.55295 0.54261-1.1421 1.0542-0.58912 0.50644-1.1007 0.94053h4.1393z')
            path(d='m16.217 6.1309h-2.8164v2.8164h-0.85784v-2.8164h-2.8164v-0.82684h2.8164v-2.8164h0.85784v2.8164h2.8164z')
            path(d='m23.344 9.0868h-5.2091v-1.0801q0.54261-0.4651 1.0852-0.93019 0.54778-0.4651 1.018-0.92502 0.9922-0.9612 1.3591-1.5245 0.36691-0.56845 0.36691-1.2248 0-0.59946-0.39792-0.93536-0.39275-0.34107-1.1007-0.34107-0.47026 0-1.018 0.16537-0.54778 0.16537-1.0697 0.50644h-0.05168v-1.0852q0.36691-0.18087 0.9767-0.33073 0.61496-0.14986 1.1886-0.14986 1.1834 0 1.8552 0.57362 0.6718 0.56845 0.6718 1.5451 0 0.43926-0.11369 0.82167-0.10852 0.37724-0.32557 0.71831-0.20154 0.3204-0.47543 0.63046-0.26872 0.31006-0.6563 0.68731-0.55295 0.54261-1.1421 1.0542-0.58912 0.50644-1.1007 0.94053h4.1393z')
            path(d='m31.426 5.0457h-6.1289v-0.82684h6.1289zm0 2.1704h-6.1289v-0.82684h6.1289z')
    //- if option.includes('2plus2')
        
        //- svg(width='50%' version='1.1' viewBox='0 0 39.688 15.875' xmlns='http://www.w3.org/2000/svg')
        //-     g(stroke-width='.26458' aria-label='2plus2' stroke='white' fill='white')
        //-         path(d='m11.033 11.865h-5.209v-1.08q0.5426-0.46509 1.0852-0.93017 0.54777-0.46509 1.018-0.92501 0.99218-0.96118 1.3591-1.5244 0.3669-0.56844 0.3669-1.2247 0-0.59944-0.39791-0.93534-0.39274-0.34106-1.1007-0.34106-0.47025 0-1.018 0.16536-0.54777 0.16536-1.0697 0.50643h-0.051676v-1.0852q0.3669-0.18087 0.97668-0.33073 0.61495-0.14986 1.1886-0.14986 1.1834 0 1.8552 0.57361 0.67179 0.56844 0.67179 1.5451 0 0.43925-0.11369 0.82165-0.10852 0.37724-0.32556 0.7183-0.20154 0.32039-0.47542 0.63045-0.26872 0.31006-0.65629 0.68729-0.55294 0.5426-1.142 1.0542-0.58911 0.50643-1.1007 0.94051h4.1393z')
        //-         path(d='m23.017 8.909h-2.8164v2.8164h-0.85783v-2.8164h-2.8164v-0.82682h2.8164v-2.8164h0.85783v2.8164h2.8164z')
        //-         path(d='m33.864 11.865h-5.209v-1.08q0.5426-0.46509 1.0852-0.93017 0.54777-0.46509 1.018-0.92501 0.99218-0.96118 1.3591-1.5244 0.3669-0.56844 0.3669-1.2247 0-0.59944-0.39791-0.93534-0.39274-0.34106-1.1007-0.34106-0.47025 0-1.018 0.16536-0.54777 0.16536-1.0697 0.50643h-0.05168v-1.0852q0.3669-0.18087 0.97668-0.33073 0.61495-0.14986 1.1886-0.14986 1.1834 0 1.8552 0.57361 0.67179 0.56844 0.67179 1.5451 0 0.43925-0.11369 0.82165-0.10852 0.37724-0.32556 0.7183-0.20154 0.32039-0.47542 0.63045-0.26872 0.31006-0.65629 0.68729-0.55294 0.5426-1.142 1.0542-0.58911 0.50643-1.1007 0.94051h4.1393z')


